
p:first-line{
    text-transform: uppercase;
}
p::first-letter{
    text-transform: uppercase;
    font-size: 50px;
    color: chocolate;
}
p:hover{
    background: black;
    color: white;
    cursor: pointer;
}
p{
    background: rgb(250, 247, 247);
    color: rgb(26, 24, 24);
    width: 400px;
    margin: 0 auto;
}


#websiteLogo{
    position: relative;
    border: 3px solid black;
}

a:hover{
    background: black;
    color: white;
}
a:visited{
    color: red;
    background: black;
}
body{
    background: skyblue;
}
#wrapper{
    margin: 0 auto;
    background-color: white;
    width: 800px;
    height: 1000px;
}

header{
    padding: 0px 0px 10px 0px;
}

#horzNav :hover{
    display: block;
    background: black;
    color: white;
}

#para-1{
    word-spacing: 5px;
}
#para-1:after{
    content: "@@@@@";
}

#para-2{
    letter-spacing: 10px;
}
footer{
    clear: both;
    background-color: black;
    color: white;
}

ol{
    list-style-type: lower-roman;
    list-style-position: inherit;
}

ol{
    background: blue;
    color: black;
    width: 360px;
    margin: 100px auto;

}
li:nth-child(2n){
    background-color: rgb(195, 192, 192);
}



